<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Acchiappa la talpa</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <canvas id="gameCanvas"></canvas>
    <div id="gameOver" display="none">
        <h1>Il gioco è finito</h1>
        <p id="score"></p>
        <p>Desideri ricevere il tuo punteggio per email?</p>
        <form id="emailForm">
            <label for="emailInput">Inserisci la tua email:</label>
            <input type="email" id="emailInput" name="email" required>
            <button type="submit">Invia punteggio</button>
        </form>
        <button id="restartButton">Restart</button>
        <p id="prompt"></p>
    </div>

    </div>
    <script src="../static/js/script_finale.js"></script>
</body> 
</html> 